argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==19.1.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
cycler==0.11.0
decorator==4.4.0
defusedxml==0.7.1
fonttools==4.28.5
ipython-genutils==0.2.0
ipywidgets==7.6.5
Jinja2==3.0.3
jsonschema==4.3.2
jupyter==1.0.0
jupyter-console==6.4.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.5.1
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
notebook==6.4.6
numpy==1.21.5
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
Pillow==8.4.0
prometheus-client==0.12.0
ptyprocess==0.6.0
pycparser==2.21
pyparsing==3.0.6
pyrsistent==0.15.2
pytz==2021.3
qtconsole==5.2.2
QtPy==2.0.0
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
six==1.12.0
statsmodels==0.13.1
terminado==0.12.1
testpath==0.5.0
tornado==6.1
traitlets==5.1.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.2
